__pycache__/

saved_weights/
bayesian_dpddm.egg-info/
build/
dist/
slurm/
wandb/
logs/
outputs/

# ignore big data, small data can be uploaded
data/cifar10_data/
data/camelyon17_v1.0/
data/civilcomments_v1.0/
data/jigsaw-toxic-comments/
experiments/data/
.DS_Store
.vscode/
tmux*